
.projects_title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.projects_box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
}